<%- include('../partials/header') %>
<%- include('../partials/head') %>
<h1>About</h1>
<p1>This is the about section, you should probably put something in here...or not. Its up to you really</p1>
<%- include('../partials/footer') %>