<%- include('../partials/head') %>
<%- include('../partials/header') %>
<form action='http://localhost:1066/games/add' method='post'>
    <b>Name:</b> <input type='text' name='name'/>
    <b>Duration:</b> <input type='text' name='duration'/>
    <b>Team Size:</b> <input type='text' name='team_size'/>
      <button type='submit' class="btn btn-secondary" >Add Game</button>
  </form>